
.eyeschg{
	background-color: orange;
}
.broccoliright{
	content: url("../images/broccoliEarRight.png");
    position: relative;
    float: right;
    margin-right: -50px;
    margin-top: 38px;
	display:block;
}

.broccolileft{
	content: url("../images/broccoliEarLeft.png");
	 position: absolute;
    float: left;
    margin-left: -55;
    margin-top: 30px;
	display:block;
}

.ifBroccoliarsslideright{
  -webkit-transform: translate(3em,0);
  -moz-transform: translate(3em,0);
  -o-transform: translate(3em,0);
  -ms-transform: translate(3em,0);
  transform: translate(3em,0);
}

.ifBroccolimouth{
    position: absolute;
    left: 58%;
    bottom: 10%;
    margin-left: -25px;
    background-color: black;
    width: 30px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
}

.ifAsparagusblink {
    width: 27px;
    height: 27px;
    position: absolute;
    top: -25px;
    left: -1px;
    z-index: 2;
    border-radius: 0 0 10px 10px;
    background-color: #4caf50;
    animation: blinks 5s ease-in-out 2s infinite;
}

.ifAsparagushead {
    width: 100px;
    height: 100px;
    background-color: #4caf50;
    border-radius: 50%;
    margin: 0 auto;
    z-index: 2;
    position: relative;
}

.ifAsparagushead:after {
    content: "";
    position: absolute;
    top: 90px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 40px;
    background-color: #4caf50;
}

.heart {
  background-color: #e00;
  display: inline-block;
  height: 20px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 20px;
  animation: beat .55s infinite alternate;
  transform-origin: center;
  margin-left: 55px;
  margin-top: 20;
  z-index: 1;
}
.heart:before,
.heart:after {
  content: "";
  background-color: #e00;
  border-radius: 50%;
  height: 20px;
  position: absolute;
  width: 20px;
}
.heart:before {
  top: -12px;
  left: 0;
}
.heart:after {
  left: 12px;
  top: 0;
}
@keyframes beat{
  to { transform: scale(1.2); }
}

.ifPopsicle {
  animation: shake 0.52s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 100px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}
