
@media (min-width:992px) {
    #aside {
        width:250px;
    }
}
@media (max-width:992px) {
    #aside.pinned, #aside.pin-bottom {
        position:static !important;
        top: auto !important;
    }
}

.smallimg{
  height: 30px;
  width: 30px;

}
.cardstyle{
  margin-left: 15px;
} 

.exercise{
  margin-top: 30px;
}

.breathe{
  margin-top: 30px;
}

.challengelabel {
  color:grey !important;
  margin-top: 0px;
  margin-left: 40px;
}

p .challengelabel{
  margin-top:10px;
}

.challengelabel label{
  color:grey !important;
}

.challengeflip-container {/*this is the boundaries of the card*/
  margin-left: 40px;
  height: 240px;
  position: relative;
  width: 150px;
  margin-top:0px;
}
.challengeflip{
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
  background-color: none;
}
.challengeflip:hover {
  transform: rotateY(180deg);
}
.challengeflip .side {/*front of card*/
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
  background-color: #759EA4;
  color:white;
  border-radius: 10px;
}
.challengeflip .back {/*back of card*/
  transform: rotateY(180deg);
  border-radius: 10px;
}

.titlemargin{
  margin-left: 0px;
}

.input-field label.greylabel {
  margin-left: 40px;
  color:gray;
}

.space{
    margin-right:25px;
}

.leftspace{
    margin-left:30px;
}

body{
  background-color: #759EA4;
}

a.loginarea {
  display: none;
}

#submitbutton {
  float:right;
  margin-top: 30px;

}

#foodlist {
  height: 60%;
  width: 100%;
  overflow: auto;
}

h1 {
  text-align: center;
  font-family: 'Coda', cursive;
  color:white;
}

h2{
   text-align: center;
  font-family: 'Coda', cursive;
}

h3{
  margin-left: 30px;
  color:white;
  font-family: 'Coda', cursive;
}
.specialh3 {
  margin-top: 50px;
  margin-left:0px;
}

h4 {
  font-size: 26px;
  color: white;

}

h5{
  padding-top:30px;
  margin-left:30px;
}
nav {
    color: #fff;
    background-color: #004E5A;
    width: 100%;
}
.navbar-fixed{
  width: auto;
  position:absolute;
  margin:-35px;
  bottom-margin:50px;
}

.myorange {
  margin-bottom:50px;
  background-color: #F3BA71;
}
button{
    color: white;
    /* font: inherit; */
    margin: 0;
    background-color: #759EA4;
    border-radis: 10px;
    font-family: roboto;
    font-size: medium;
    border-radius: 10px;
    border: none;
}
.btn{
  background-color: #F3BA71;
  font-family: roboto;
}
.btn:hover{
  background-color: #E97767;
  font-family: roboto;
}

#displaycurrentlog {
    width: 50%;
    height: 70%;
    background-color: white;
    margin-top: 18px;
}
#displaycurrentlog h5 {
    padding-top:0px;
    margin-left:0px;
}

#displaypoints {
    width: 75%;
    height: 75%;
    background-color: white;
    margin: 30px;
    border-radius: 10px;
}

#displaychallenge{
    width: 75%;
    height: 75%;
    background-color: white;
    margin: 30px;
    border-radius: 10px;
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.row .col.s4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
    margin-top: 120px;
    background-color:#8DA374;
}

.row .col {
    float: left;
    box-sizing: border-box;
    padding: 0 0.75rem;
    border-radius: 10px;
  }
p {
  color:white;
}

.collapsible {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    margin: 0.5rem 0 1rem 0;
    box-shadow: none;
}

.collapsible-header {
    display: block;
    cursor: pointer;
    min-height: 2.3rem;
    line-height: 2.3rem;
    padding: 0 .5rem;
    background-color: #E97767;
    opacity: 40%;
    border-bottom: 0;
    width: 100%;
}

/*old color #E37222;*/

.collapsible-body {
    display: none;
    border-bottom: 0;
    box-sizing: border-box;
}
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea{
  border-bottom:none;
  border: solid 1px white;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid white !important;
}

.input{
  border-bottom:none;
}
.input-field label{
  margin-left:10px;
  color:rgba(255,255,255,.5);
  font-family: Coda;
  font-size: 1rem !important;
/*  border-bottom:1px solid #fff*/
}
.input-field:active label{
  color:rgba(255,255,255,.5);
}

.input.validate.form-control{
      border: solid 1px white;
}

@media only screen and (min-width: 993px){
  .container {
  width: 100%;
}
}

#challenge-area {
  height:500px;
  background-color:#8DA374;
}

/*old color#A4D555;*/

#points-area-div {
  height:500px;
  background-color: #E97767; 
}

/*old color #E37222*/

#foodchoicebackground{
  background-color: #F3BA71;
  height: 500px;
}

/*old color #F9BE02*/

.food-choice-title{
  color: white;
}
.collapsible{
  width:100%;
}

.boy-background{
  background-repeat: no-repeat;
  background-color: #ACE9E4;
  height: 500px;
}

.pointsdisp{
  width: 200px;
  margin-top: 125px;
  border-style: solid;
  border-color: red;
  border-width: 1px;
  padding-left:0px;
}

.food-choice-class{
    margin-left: 15px;
    width: 120%;
    padding-right: 100px;
}

.food-choice-toggle{
  white-space: wrap;
  width: 100%;
}


