@font-face {
  font-family: 'KBGoogleyEyes';
  src: url('styles/fonts/KBGoogleyEyes.ttf');
}

h1, h2 {
  text-align: center;
}
h3{
  margin-left: 30px;
  color:white;
}

h4 {
  font-size: 26px;
  color: white;

}
nav {
    color: #fff;
    background-color: #004E5A;
    width: 100%;
}
.navbar-fixed{
  width: auto;
}

#displaycurrentlog {
    width: 50%;
    height: 70%;
    background-color: white;
    margin-top: 18px;
}

#displaypoints {
    width: 75%;
    height: 75%;
    background-color: white;
    margin: 30px;
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

p {
  color:white;
}

.collapsible {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    margin: 0.5rem 0 1rem 0;
    box-shadow: none;
}

.collapsible-header {
    display: block;
    cursor: pointer;
    min-height: 2.3rem;
    line-height: 2.3rem;
    padding: 0 .5rem;
    background-color: #E37222;
    opacity: 40%;
    border-bottom: 0;
    width: 100%;
}

.collapsible-body {
    display: none;
    border-bottom: 0;
    box-sizing: border-box;
}

.input-field label{
  color:white;
}
.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

@media only screen and (min-width: 993px){
  .container {
  width: 100%;
}
}
#challenge-area {
  height:500px;
  background-color: #A4D555;
}

#points-area-div {
  height:500px;
  background-color: #E37222; 
}

#foodchoicebackground{
  background-color: #F9BE02;
  height: 500px;
}

.food-choice-title{
  color: white;
}
.collapsible{
  width:100%;
}

.boy-background{
/*background-image: url('../images/animation-direction.gif');*/
 background-repeat: no-repeat;
/* background-position: 50%;*/
background-color:#7CDBD5;
height: 500px;
}

.pointsdisp{
  width: 200px;
  margin-top: 125px;
  border-style: solid;
  border-color: red;
  border-width: 1px;
  padding-left:0px;
}

.food-choice-class{
    margin-left: 15px;
    width: 120%;
    padding-right: 100px;
}
}

.food-choice-toggle{
  white-space: wrap;
  width: 100%;
}


