@font-face {
  font-family: 'KBGoogleyEyes';
  src: url('styles/fonts/KBGoogleyEyes.ttf');
}

@media (min-width:992px) {
    #aside {
        width:250px;
    }
}
@media (max-width:992px) {
    #aside.pinned, #aside.pin-bottom {
        position:static !important;
        top: auto !important;
    }
} 

body{
  background-color: #759EA4;
}

a.loginarea {
  display: none;
}

h1 {
  text-align: center;
  font-family: 'Coda', cursive;
  color:white;
}

h2{
   text-align: center;
  font-family: 'Coda', cursive;
}

h3{
  margin-left: 30px;
  color:white;
  font-family: 'Coda', cursive;
}
.specialh3 {
  margin-top: 50px;
  margin-left:0px;
}

h4 {
  font-size: 26px;
  color: white;

}

h5{
  padding-top:30px;
  margin-left:30px;
}
nav {
    color: #fff;
    background-color: #004E5A;
    width: 100%;
}
.navbar-fixed{
  width: auto;
  position:absolute;
  margin:-35px;
  bottom-margin:50px;
}

.myorange {
margin-bottom:50px;
background-color: #F3BA71;
}
button{
    color: white;
    /* font: inherit; */
    margin: 0;
    background-color: #759EA4;
    border-radis: 10px;
    font-family: roboto;
    font-size: medium;
    border-radius: 10px;
    border: none;
}

#displaycurrentlog {
    width: 50%;
    height: 70%;
    background-color: white;
    margin-top: 18px;
}
#displaycurrentlog h5 {
    padding-top:0px;
    margin-left:0px;
}

#displaypoints {
    width: 75%;
    height: 75%;
    background-color: white;
    margin: 30px;
    border-radius: 10px;
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}
.row .col {
    float: left;
    box-sizing: border-box;
    padding: 0 0.75rem;
    border-radius: 10px;
  }
p {
  color:white;
}

.collapsible {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    margin: 0.5rem 0 1rem 0;
    box-shadow: none;
}

.collapsible-header {
    display: block;
    cursor: pointer;
    min-height: 2.3rem;
    line-height: 2.3rem;
    padding: 0 .5rem;
    background-color: #E97767;
    opacity: 40%;
    border-bottom: 0;
    width: 100%;
}

/*old color #E37222;*/

.collapsible-body {
    display: none;
    border-bottom: 0;
    box-sizing: border-box;
}

.input-field label{
  color:white;
}
.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

@media only screen and (min-width: 993px){
  .container {
  width: 100%;
}
}

#challenge-area {
  height:500px;
  background-color:#8DA374;
}

/*old color#A4D555;*/

#points-area-div {
  height:500px;
  background-color: #E97767; 
}

/*old color #E37222*/

#foodchoicebackground{
  background-color: #F3BA71;
  height: 500px;
}

/*old color #F9BE02*/

.food-choice-title{
  color: white;
}
.collapsible{
  width:100%;
}

.boy-background{
/*background-image: url('../images/animation-direction.gif');*/
 background-repeat: no-repeat;
/* background-position: 50%;*/
background-color: #ACE9E4;
height: 500px;
}

/*old color #7CDBD5*/

.pointsdisp{
  width: 200px;
  margin-top: 125px;
  border-style: solid;
  border-color: red;
  border-width: 1px;
  padding-left:0px;
}

.food-choice-class{
    margin-left: 15px;
    width: 120%;
    padding-right: 100px;
}

.food-choice-toggle{
  white-space: wrap;
  width: 100%;
}


