/*h1, h2 {
  text-align: center;
}

nav {
    color: #fff;
    background-color: #004E5A;
    width: 100%;
}

p {
  color:white;
}
.input-field label{
  color:white;
}
.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
/*}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
/*}

@media only screen and (min-width: 993px){
  .container {
  width: 100%;
}
}
.navbar-fixed{
  width: auto;
}

#foodchoicebackground{
  background-color: #F9BE02;
}

.food-choice-title{
  color: white;
}
.collapsible{
  width:100%;
}

#boy-background{
background-color:#7CDBD5;
height: 80%;
}

.pointsdisp{
  width: 200px;
  margin-top: 125px;
  border-style: solid;
  border-color: red;
  border-width: 1px;
  padding-left:0px;
}

.food-choice-class{
  margin-left: 30px;
}

.food-choice-toggle{
  white-space: wrap;
  width: 100%;
}

#loginform{
  width:50%;
  margin-left: 25%;
  padding-top:30px;
  padding-bottom: 0px;
}
**//*/