
<div class="avatar-boy">

 <div [ngClass]="{broccoliright: broccoliChecked()}"></div>
  <div [ngClass]="{broccolileft: broccoliChecked()}"></div>


  <div class="creatures">   
    <div> <img class="sun" src="app/images/sun.png"></div>
      <div> <img class="basket" src="app/images/basket.png"></div>
       <div [ngClass]="{strawberry: strawberryChecked()}"></div>
       <div [ngClass]="{peach: peachesChecked()}"></div>
       <div [ngClass]="{apple: applesChecked()}"></div>
       <div [ngClass]="{watermelon: watermelonChecked()}"></div>

        
    
    <div class="human-home" [ngClass]="{ifPopsicle: popsicleChecked()}">
      <div class="hat"></div>
        <div class="head"[ngClass]="{ifAsparagushead: asparagusChecked()}">
          <div class="eyes left"[ngClass]="{eyeschg: carrotChecked()}">
            <div class="blink" [ngClass]="{ifAsparagusblink: asparagusChecked()}"></div>
          </div>
            <div class="eyes right"[ngClass]="{eyeschg: carrotChecked()}">
              <div class="blink" [ngClass]="{ifAsparagusblink: asparagusChecked()}"></div>
            </div>
              <div class="mouth" [ngClass]="{ifBroccolimouth: broccoliChecked()}" ></div>
        </div>
   
        <div class="body" [ngClass]="{growmiddle: candyChecked()}">
          <div class="top"></div>
          <div class="left side" [ngClass]="{exerciseJump: exerciseChecked()}"></div>
          <div class="right side" [ngClass]="{exerciseJump: exerciseChecked()}" ></div>
         
          <div class="shirt"></div>
           <div [ngClass]="{heart: quinoaChecked()}"></div>
        </div>

        <div class="legs">
          <div class="leg left"></div>
          <div class="leg right"></div>
        </div>
           <div class="feet"></div>
    </div>
  </div>
</div> 


  





 
