
<div class="avatar-boy">

  <div class="creatures">   
  <div class="human-home">
    <div class="hat"></div>
    <div class="head">
      <div class="eyes left">
        <div class="blink"></div>
      </div>
      <div class="eyes right">
        <div class="blink"></div>
      </div>
      <div class="mouth"></div>
    </div>
    <div class="body">
      <div class="top"></div>
      <div class="bow"></div>
      <div class="left side"></div>
      <div class="right side"></div>
      <div class="shirt">
        <div class="buttons">
          <div class="button"></div>
          <div class="button"></div>
          <div class="button"></div>
        </div>
      </div>
    </div>
    <div class="legs">
      <div class="leg left"></div>
      <div class="leg right"></div>
    </div>
    <div class="feet"></div>
    <div class="ground"></div>
  </div>
</div>
</div> 
  <br>
  <br>
  <br>
  <br>
  <div>
  <!-- Modal Trigger -->
    <button data-target="modal1" class="btn modal-trigger">Modal</button>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    </div>
    <!-- <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div> -->
       <div>
              <ul class="collapsible" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                  <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                  <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                  <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                </li>
              </ul>
        </div>
        </div>
 

  <script>
    $(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
  });

</script>



 
