<div>
	<h3>Pick a challenge</h3>
		<form materialize class="row" id="displaychallenge">
			<p class="challengelabel">Hold your cursor over a challenge area, do the challenge and click yes for points.</p>
			<div class="input-field col 4 exercise" *ngFor="let challenge of challengeservice.challenges">
 				<div class="challengeflip-container">
				  <div class="challengeflip">
				    <div class="side">
					<div class="cardstyle"><h5>{{challenge.title}}</h5><p>{{challenge.instruct}}</p></div>
				    </div> 
				    <div class="side back"><img src='{{challenge.img}}'></div>
				  </div>
				</div>
			    <input id="{{challenge.name}}" type="checkbox" [(ngModel)]="challenge.complete" >
			    <label class="greylabel" attr.for="{{challenge.name}}">Yes</label>
			</div>
		</form>
</div>


  