<div>
	<h3>Pick your challenge</h3>
		<div class="row" id="displaychallenge">

 			<div class="col 4 space exercise">
 				<div class="challengeflip-container">
				  <div class="challengeflip">
				    <div class="side"><h5>Exercise</h5></div>
				    <div class="side back"><img src='app/images/JumpingJacks.gif'></div>
				  </div>
				</div>
	    	</div>

	    	<div class="col 4 breathe">
	    		<div class="challengeflip-container">
				  <div class="challengeflip">
				    <div class="side"><h5>Breathe</h5></div>
				    <div class="side back"><img src='app/images/breath-gif.gif'></div>
				  </div>
				</div>
	    	</div>	
	</div>
</div>


  