
    <div class="food-choice-toggle">
    <div class="container">

                <div class="food-choice-title">
                    <h3>Food Choices</h3>
                    <p>Choose what foods you ate today.</p>
                </div>
                 </div>
                 	</div>

    <div class="food-choice-class" >
	<div *ngFor="let cat of listoffoods" >
		<h4>{{cat.name}}</h4>
		<div *ngFor="let food of cat.foods" >
      <input type="checkbox" id="test5" />
      <label for="test5">{{food.name}}</label>
</div>
	</div><br>

		</div>



