  <div><h3>Pick a Food</h3></div>
    
    <div class="row">
    <div class="col 4">
    <div class="food-choice-class"> 
      <ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
          <li *ngFor="let cat of foodservice.listoffoods">
            <div class="collapsible-header">
              <div >
                <h4>{{cat.name}}</h4>
              </div>
            </div>
        <div class="collapsible-body">
          <div *ngFor="let food of cat.foods">
            <div class="input-field">
              <input type="checkbox" id="food_check{{cat.name}}_{{food.name}}" (change)="isChecked($event, food)"/>
                <label attr.for="food_check{{cat.name}}_{{food.name}}">{{food.name}}</label> 
            </div>
          </div>
        </div>
          </li>
        </ul>
    </div>
    </div>
    <div id="displaycurrentlog" class="col 4">
    <h5>Today's Food Log</h5>
    <div id="foodlist">
    <ul>
    <li *ngFor="let item of foodservice.checkedFoods">{{item.name}} = {{item.points}} points</li>
    </ul>
    </div>
    <div id="submitbutton">
    <button id="submitfoods" (click)="onSubmit()">Add to log</button>
 <!--    <div id="submitfoods" *ngFor="let item of foodservice.checkedFoods">{{item.points}} points</div> -->
    </div>
    </div>
    </div>






