 <div class="navbar-fixed">
    <nav class="myorange">
        <div class="nav-wrapper container">
            <a href="#!" class="brand-logo">MUTANO KID</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        </div>
    </nav>
</div>

<!-- main content -->
<div class="container">
    <div class="row">
        <div class="col s8">
            <h3 class="specialh3">Welcome to Mutano Kid</h3>
                
            <!-- <button class="btn btn-flat myorange waves-effect waves-light white-text">Click Me</button> -->
            
            <div class="avatar-boy login-boy-background">
  <div class="creatures">   
  <div class="human-home">
    <div class="hat"></div>
    <div class="head">
      <div class="eyes left">
        <div class="blink"></div>
      </div>
      <div class="eyes right">
        <div class="blink"></div>
      </div>
      <div class="mouth"></div>
    </div>
    <div class="body">
      <div class="top"></div>
      <div class="left side"></div>
      <div class="right side wavearm"></div>
      <div class="shirt"></div>
    </div>
    <div class="legs">
      <div class="leg left"></div>
      <div class="leg right"></div>
    </div>
    <div class="feet"></div>
  </div>
</div>
</div> 
        </div>

  <div class="col s4 formarea">
            <div class="row form-group">
    <form #userloginform="ngForm" id="loginform" class="col s12">
      
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate form-control" required
          [(ngModel)]="model.first_name" 
          ngControl="first_name" #first_name="ngForm" >
          <label for="first_name">First Name</label>
              <div [hidden]="first_name.valid">
              </div>
        </div>

        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate form-control" required
          [(ngModel)]="model.last_name" 
          ngControl="last_name" #last_name="ngForm" >
          <label for="last_name">Last Name</label>
            <div [hidden]="last_name.valid">
              </div>
      </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate form-control" required 
          [(ngModel)]="model.password" 
          ngControl="password" #password="ngForm" >
          <label for="password">Password</label>
              <div [hidden]="password.valid">
              </div>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate form-control" required 
          [(ngModel)]="model.email"
          ngControl="email" #email="ngForm" >
          <label for="email">Email</label>
              <div [hidden]="email.valid">
              </div>
        </div>
      </div>
         <button (click)="goToUserLoggedIn()" type="submit" class="btn btn-default"
             [disabled]="!userloginform.form.valid">Submit</button>
  </form>
      </div> 
            </div>
            </div>
            </div>



<!--login modal-->
<!-- <div id="modalLogin" class="modal">
    <div class="modal-content">
        <h2 class="center-align">Login</h2>
        <div class="center-align">
            <div class="divider"></div>
            <form class="col s12">
                <div class="row center-align">
                    <div class="input-field col m10 offset-m1 blue-text">
                        <i class="mdi-action-account-circle prefix"></i>
                        <input id="icon_prefix" type="text" class="validate">
                        <label for="icon_prefix">Username</label>
                    </div>
                    <div class="input-field col m10 offset-m1 blue-text ">
                        <i class="mdi-action-lock-open prefix"></i>
                        <input id="icon_password" type="password" class="validate">
                        <label for="icon_password">Password</label>
                    </div>
                    <div class="input-field col m10 offset-m1 blue-text">
                        <input type="checkbox" class="blue-text" id="filled-in-box" checked="checked">
                        <label for="filled-in-box">Remember me next time</label>
                    </div>
                </div>
            </form>
            <div class="divider"></div>
            <p>
                <a href="#" class="btn btn-flat white modal-close">Cancel</a> &nbsp;
                <a href="#" class="waves-effect waves-blue blue btn btn-flat modal-action modal-close">Login</a>
            </p>
        </div>
    </div>
</div>
 -->





        
