 <div class="navbar-fixed">
    <nav class="myorange">
        <div class="nav-wrapper container">
            <a href="#!" class="brand-logo">Materialize</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#modalLogin" class="modal-trigger"><i class="mdi-action-perm-identity"></i></a></li>
                <li><a href="#"><i class="mdi-navigation-refresh"></i></a></li>
                <li><a href="#"><i class="mdi-navigation-more-vert"></i></a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li>
                    <a href="#">
                        <input id="search" type="search" placeholder="search">
                    </a>
                </li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </div>
    </nav>
</div>

<!-- main content -->
<div class="container">
    <div class="row">
        <div class="col s6">
            <h3 class="specialh3">Main</h3>

            <div class="divider"></div>
            <p>Sriracha biodiesel taxidermy organic post-ironic, Intelligentsia salvia mustache 90's code editing brunch. Butcher polaroid VHS art party, hashtag Brooklyn deep v PBR narwhal sustainable mixtape swag wolf squid tote bag. Tote bag cronut semiotics,
                raw denim deep v taxidermy messenger bag. Tofu YOLO Etsy, direct trade ethical Odd Future jean shorts paleo. Forage Shoreditch tousled aesthetic irony, street art organic Bushwick artisan cliche semiotics ugh synth chillwave meditation.
                Shabby chic lomo plaid vinyl chambray Vice. Vice sustainable cardigan, Williamsburg master cleanse hella DIY 90's blog.</p>
                
            <button class="btn btn-flat myorange waves-effect waves-light white-text">Click Me</button>
            
            <div class="divider"></div>

            <p>Ethical Kickstarter PBR asymmetrical lo-fi. Dreamcatcher street art Carles, stumptown gluten-free Kickstarter artisan Wes Anderson wolf pug. Godard sustainable you probably haven't heard of them, vegan farm-to-table Williamsburg slow-carb
                readymade disrupt deep v. Meggings seitan Wes Anderson semiotics, cliche American Apparel whatever. Helvetica cray plaid, vegan brunch Banksy leggings +1 direct trade. Wayfarers codeply PBR selfies. Banh mi McSweeney's Shoreditch selfies,
                forage fingerstache food truck occupy YOLO Pitchfork fixie iPhone fanny pack art party Portland.</p>

         <!--    <div class="row">
                <div class="col s2"><i class="medium mdi-action-label-outline"></i></div>
                <div class="col s2"><i class="medium mdi-action-loyalty"></i></div>
                <div class="col s2"><i class="medium mdi-action-query-builder"></i></div>
                <div class="col s2"><i class="medium mdi-action-settings-applications"></i></div>
            </div> -->


            <div class="divider"></div>
            <p>Sriracha biodiesel taxidermy organic post-ironic, Intelligentsia salvia mustache 90's code editing brunch. Butcher polaroid VHS art party, hashtag Brooklyn deep v PBR narwhal sustainable mixtape swag wolf squid tote bag. Tote bag cronut semiotics,
                raw denim deep v taxidermy messenger bag. Tofu YOLO Etsy, direct trade ethical Odd Future jean shorts paleo. Forage Shoreditch tousled aesthetic irony, street art organic Bushwick artisan cliche semiotics ugh synth chillwave meditation.
                Shabby chic lomo plaid vinyl chambray Vice. Vice sustainable cardigan, Williamsburg master cleanse hella DIY 90's blog.</p>

            <div class="divider"></div>
            <p>Sriracha biodiesel taxidermy organic post-ironic, Intelligentsia salvia mustache 90's code editing brunch. Butcher polaroid VHS art party, hashtag Brooklyn deep v PBR narwhal sustainable mixtape swag wolf squid tote bag. Tote bag cronut semiotics,
                raw denim deep v taxidermy messenger bag. Tofu YOLO Etsy, direct trade ethical Odd Future jean shorts paleo. Forage Shoreditch tousled aesthetic irony, street art organic Bushwick artisan cliche semiotics ugh synth chillwave meditation.
                Shabby chic lomo plaid vinyl chambray Vice. Vice sustainable cardigan, Williamsburg master cleanse hella DIY 90's blog.</p>

            <p>Ethical Kickstarter PBR asymmetrical lo-fi. Dreamcatcher street art Carles, stumptown gluten-free Kickstarter artisan Wes Anderson wolf pug. Godard sustainable you probably haven't heard of them, vegan farm-to-table Williamsburg slow-carb
                readymade disrupt deep v. Meggings seitan Wes Anderson semiotics, cliche American Apparel whatever. Helvetica cray plaid, vegan brunch Banksy leggings +1 direct trade. Wayfarers codeply PBR selfies. Banh mi McSweeney's Shoreditch selfies,
                forage fingerstache food truck occupy YOLO Pitchfork fixie iPhone fanny pack art party Portland.</p>

         <!--    <div class="row">
                <div class="col s2"><i class="medium mdi-action-label-outline"></i></div>
                <div class="col s2"><i class="medium mdi-action-loyalty"></i></div>
                <div class="col s2"><i class="medium mdi-action-query-builder"></i></div>
                <div class="col s2"><i class="medium mdi-action-settings-applications"></i></div>
            </div> -->

        </div>
        <div class="col s6">
            <div id="aside">
        <h2 class="center-align">Login</h2>
        <div class="center-align">
            <div class="divider"></div>
            <form class="col s12">
                <div class="row center-align">
                    <div class="input-field col m10 offset-m1 blue-text">
                        <i class="mdi-action-account-circle prefix"></i>
                        <input id="icon_prefix" type="text" class="validate">
                        <label for="icon_prefix">Username</label>
                    </div>
                    <div class="input-field col m10 offset-m1 blue-text ">
                        <i class="mdi-action-lock-open prefix"></i>
                        <input id="icon_password" type="password" class="validate">
                        <label for="icon_password">Password</label>
                    </div>
                    <div class="input-field col m10 offset-m1 blue-text">
                        <input type="checkbox" class="blue-text" id="filled-in-box" checked="checked">
                        <label for="filled-in-box">Remember me next time</label>
                    </div>
                </div>
            </form>
            <div class="divider"></div>
            <p>
                <a href="#" class="btn btn-flat white modal-close">Cancel</a> &nbsp;
                <a href="#" class="waves-effect waves-blue blue btn btn-flat modal-action modal-close">Login</a>
            </p>
        </div>
            </div>

        </div>

    </div>
</div>


<!--login modal-->
<div id="modalLogin" class="modal">
    <div class="modal-content">
        <h2 class="center-align">Login</h2>
        <div class="center-align">
            <div class="divider"></div>
            <form class="col s12">
                <div class="row center-align">
                    <div class="input-field col m10 offset-m1 blue-text">
                        <i class="mdi-action-account-circle prefix"></i>
                        <input id="icon_prefix" type="text" class="validate">
                        <label for="icon_prefix">Username</label>
                    </div>
                    <div class="input-field col m10 offset-m1 blue-text ">
                        <i class="mdi-action-lock-open prefix"></i>
                        <input id="icon_password" type="password" class="validate">
                        <label for="icon_password">Password</label>
                    </div>
                    <div class="input-field col m10 offset-m1 blue-text">
                        <input type="checkbox" class="blue-text" id="filled-in-box" checked="checked">
                        <label for="filled-in-box">Remember me next time</label>
                    </div>
                </div>
            </form>
            <div class="divider"></div>
            <p>
                <a href="#" class="btn btn-flat white modal-close">Cancel</a> &nbsp;
                <a href="#" class="waves-effect waves-blue blue btn btn-flat modal-action modal-close">Login</a>
            </p>
        </div>
    </div>
</div>




<!--   <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">MUTANO KID</a>
      </div>
    </nav>
  </div>

<div class="container" id="home-login-view" >
  <div [hidden]="submitted">
<div><h1>Welcome to Mutano Kid</h1>
<h2>Sign in</h2>
</div>

<div class="row form-group">
    <form (ngSubmit)="onSubmit()" #userloginform="ngForm" id="loginform" class="col s12">
      
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate form-control" required
          [(ngModel)]="model.first_name" 
          ngControl="first_name" #first_name="ngForm" >
          <label for="first_name">First Name</label>
              <div [hidden]="first_name.valid" class="alert alert-danger">
                Name is required
              </div>
        </div>

        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate form-control" required
          [(ngModel)]="model.last_name" 
          ngControl="last_name" #last_name="ngForm" >
          <label for="last_name">Last Name</label>
            <div [hidden]="last_name.valid" class="alert alert-danger">
                Name is required
              </div>
      </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate form-control" required 
          [(ngModel)]="model.password" 
          ngControl="password" #password="ngForm" >
          <label for="password">Password</label>
              <div [hidden]="password.valid" class="alert alert-danger">
                password is required
              </div>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate form-control" required 
          [(ngModel)]="model.email"
          ngControl="email" #email="ngForm" >
          <label for="email">Email</label>
              <div [hidden]="email.valid" class="alert alert-danger">
                email is required
              </div>
        </div>
      </div>
         <button type="submit" class="btn btn-default"
             [disabled]="!userloginform.form.valid">Submit</button>
    </form>
  </div> -->
<!-- TODO: remove this: {{model.name}} -->
 <!-- <div [hidden]= "!submitted">
   <h2>You submitted the following:</h2>
   <div class="row">
     <div class="col-xs-3">First Name</div>
     <div class="col-xs-9  pull-left">{{ model.first_name }}</div>
   </div>
   <div class="row">
     <div class="col-xs-3">LastName</div>
     <div class="col-xs-9  pull-left">{{ model.last_name }}</div>
   </div>
   <div class="row">
     <div class="col-xs-3">Password</div>
     <div class="col-xs-9 pull-left">{{ model.password }}</div>
   </div>
   <div class="row">
     <div class="col-xs-3">Email</div>
     <div class="col-xs-9 pull-left">{{ model.email }}</div>
   </div>
   <br>
   <button class="btn btn-default" (click)="submitted=false">Edit</button>
 </div>

</div>
     </div>



<div>
  <div class="creatures-login">   
  <div class="human-login">
    <div class="hat"></div>
    <div class="head">
      <div class="eyes left">
        <div class="blink"></div>
      </div>
      <div class="eyes right">
        <div class="blink"></div>
      </div>
      <div class="mouth"></div>
    </div>
    <div class="body">
      <div class="top"></div>
      <div class="left side"></div>
      <div class="right side"></div>
      <div class="shirt"></div>
      </div>

      </div>
    </div>
    </div>

    <script></script>
 -->
        
